/* 蓝色皮肤 */

/*header*/
.header {
    height: 500px;
}

.header.theme0 {
    position: relative;
    height: 580px;
    background: url('image/header_bg_h500.jpg') no-repeat center top;
}

.header.theme1 {
    position: relative;
    height: 300px;
    background: url('image/header_bg_h380.jpg') no-repeat center top;
}

.header.theme2 {
    height: 80px;
    background: url('image/header_bg.jpg') no-repeat center top;
}

.header .header-top {
    /*background: rgba(255, 255, 255, 0.8);*/
    background: none;
    width: 100%;
}

.header .header-top-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header .header-body {
    width: 100%;
}

.header .header-body-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .header-bottom {
    position: absolute;
    bottom: 0;
    /*background: rgba(255, 255, 255, 0.6);*/
    background-color: #F3F8FE;
    width: 100%;
}

.header .header-bottom-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header .slogan {
    margin-top: 85px;
    font-size: 40px;
    /*color: #430a00;*/
    line-height: 1;
    color: #fff;
}

.header .webname {
    display: none;
}

.header.full {
    height: 380px;
}

/*nav*/
.nav-wrap {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8d5e1a;
    font-size: 18px;
}

.nav-wrap .flex {
    flex: 1;
    justify-content: space-between;
    margin-right: 48px;
}

.nav-wrap .logo {
    cursor: pointer;
    font-size: 28px;
    margin-right: 22px;
}

.nav-wrap .logo a {
    color: #fff;
}

/*menu*/
.menu-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

.menu-wrap li {
    box-sizing: border-box;
    padding: 0 20px;
    height: 30px;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.menu-wrap li.icon {
    font-size: 20px;
    margin-bottom: 5px;
}

.menu-wrap li:hover {
    opacity: 0.8;
}

.menu-wrap li.active {
    color: #fff;
    display: block;
    font-weight: bold;
}

.menu-wrap li.active::after {
    content: '';
    width: 34px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    background:#fff;
    left: 50%;
    margin-left: -17px;
    border-radius: 3px;
}

/*home-search*/
.home-search {
    width: 60%;
}

.home-search-tags {
    margin-top: 70px;
    display: flex;
    font-size: 16px;
    color: #ffffff;
    padding-left: 16px;
}

.home-search-tags-item {
    cursor: pointer;
    padding: 8px 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-search-tags-item.active {
    color: #256FEB;
    background-color: #ffffff;
}

.home-search-input {
    display: flex;
}

.home-search-input .advanced-btn {
    margin-left: 22px;
}

.home-search-input .el-input__inner,
.home-search-input .el-input__inner:hover,
.home-search-input .el-input__inner:focus {
    border: 1px solid #ffffff;
    height: 45px;
    line-height: 45px;
}

.home-search-input .el-input-group__append {
    width: 13.9%;
    font-size: 32px;
}

.footer{

    font-size: 14px;
    color: #fff;
    background-color: #1B79DB;
    height: 120px;
    line-height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    .header {
        background: url('image/h5/header_bg.jpg') no-repeat center top;
        background-size: 100%;
    }

    .header.theme0 {
        height: 380px;
    }

    .header.theme1 {
        height: 155px;
    }

    .header.theme2 {
        height: 80px;
    }


    .header-body {}

    .header-body-container {}

    .header .slogan {
        margin-top: 0px;
        font-size: 22px;
    }

    .header .webname {
        margin-top: 32px;
        display: block;
        margin-bottom: 8px;
    }

    /*menu-wrap */
    .menu-wrap {
        justify-content: space-around;
        align-items: flex-start;
        height: 70px;
    }

    .menu-wrap li {
        box-sizing: border-box;
        padding: 16px;
        color: #6d6d6d;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .menu-wrap li.icon {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .menu-wrap li:hover {
        opacity: 0.8;
    }

    .menu-wrap li.active {
        display: flex;
        color: #8d5e1a !important;
    }

    .menu-wrap li.active::after {
        display: none;
    }

    /*home-search*/
    .home-search {
        padding-top: 22px;
        width: 80%;
        margin: 0 auto;
    }

    .home-search-input .el-input__inner,
    .home-search-input .el-input__inner:hover,
    .home-search-input .el-input__inner:focus {
        height: 30px;
        line-height: 30px;
    }

    .home-search-input .el-input-group__append {
        width: 10%;
        font-size: 16px;
    }
}