@media (max-width: 768px) {
}
.screen_5_box {
	width: 100%;
	height: 100%;
	background: url('img/screen_5/背景.png') no-repeat;
	background-size: 100% 100%;
	margin-top: 72px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.screen_5_box_door {
	width: 70%;
	height: 80%;
	background: url('img/screen_5/墙壁.png') no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.screen_5_box_door_title {
	height: 300px;
	width: 184px;
	background: url('img/screen_5/标题背景.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 150px;
	top: 150px;
}
.screen_5_box_door_title_txt {
	height: 250px;
	width: 128px;
	background: url('img/screen_5/文字标题.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 58px;
	top: 32px;
}
