@media (max-width: 768px) {
}
.screen_3_box {
	width: 100%;
	height: 100%;
	background: url('img/screen_3/背景.png') no-repeat;
	background-size: 100% 100%;
}
.screen_3_headline {
	width: 100%;
	height: 58px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('img/screen_3/标题背景.png') no-repeat center;
}
.screen_3_headline_left {
	width: 42px;
	height: 18px;
	background: url('img/screen_3/标题装饰.png') no-repeat;
}
.screen_3_headline_right {
	width: 42px;
	height: 18px;
	background: url('img/screen_3/标题装饰.png') no-repeat;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.screen_3_list_right_Book_item_top_box {
	height: 150px;
	width: 150px;
	background: url('img/screen_3/书籍封面阴影.png') no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
}
.screen_3_list_right_Book_item_top_box_img {
	height: 140px;
	width: 102px;
	background: url('http://web.bjrrt.cn/pic/books/jpgsmall/2701/270113020210000095/0001.jpg')
		no-repeat;
	background-size: 100% 100%;
	border-radius: 4px;
}
.screen_3_list_right_Book_item_bottom {
	width: 100%;
	height: 60px;
	background: url('img/screen_3/书架.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 9;
	bottom: 10px;
}
